<div class="col-md-12">
  <div class="course">
    <%= link_to("New article", new_article_path , :class => "btn pull-right") %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td> # </td>
        <td> Title </td>
        <td> Description </td>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td>#</td>
        <td><%= link_to(article.title, article_path(article)) %></td>
        <td><%= article.body %></td>
        <td>
          <%= link_to("Edit", edit_article_path(article), :class => "btn btn-xs") %>
          <%= link_to("Delete", article_path(article), :class => "btn btn-xs", :method => :delete, :data => { :confirm => "Are you sure?" } ) %>
       </td>
     </tr>
     <% end %>
   </tbody>
 </table>
</div>

